.book-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 8px;
  border: solid 1px var(--white-three);
  height: auto;
  width: auto;
}

.book {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background: #fff;
}

.book-details {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  margin-top: 1rem;
}

.book-details h3 {
  font-size: 0.875rem;
  font-weight: 600;
  font-stretch: normal;
  color: var(--gray-one);
  text-transform: uppercase;
  margin-bottom: -0.7rem;
}

.book-details h2 {
  font-size: 1.5rem;
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-stretch: normal;
  color: black;
  text-transform: capitalize;
  margin-bottom: -0.1rem;
}

.book-details p {
  font-size: 0.875rem;
  font-weight: 400;
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-stretch: normal;
  color: var(--text-blue);
  text-transform: capitalize;
}

.book-buttons {
  display: flex;
  gap: 1rem;
  padding-left: 2rem;
}

.book-buttons button {
  border: none;
  font-family: "Roboto Slab", serif;
  font-size: 0.875rem;
  font-weight: 400;
  background-color: transparent;
  color: #6070ff;
  cursor: pointer;
}

.book-buttons button:last-child {
  margin-left: 0;
  border-right: none;
  padding-right: 0;
}

.book-buttons button:not(:first-child) {
  margin-left: 0.5rem;
}

.book-buttons button:not(:last-child) {
  border-right: 1.5px solid var(--gray-two);
  padding-right: 1rem;
}

@media (max-width: 768px) {
  .book {
    display: flex;
    flex-direction: column;
    background-color: red;
  }
}
