.form-container {
  height: auto;
  margin: 0 0 1rem 2rem;
  padding: 0 12px 0 15px;
}

.header2 {
  margin-left: 0.5rem;
}

.form {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#title {
  width: 100%;
}
