
.nav {
  display: flex;
  align-items: center;
  background-color: rgba(120, 117, 117, 0.123);
  padding-left: 30px;
}

.head {
  font-size: 2rem;
  color: #6070ff;
}

a {
  text-decoration: none;
  font-size: 1em;
  color: grey;
  opacity: 0.5;
  font-weight: 700;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  flex-basis: 22%;
}

.active {
  opacity: 1;
}

.login {
  display: flex;
  right: 0;
  position: fixed;
  padding-right: 3rem;
  opacity: 1;
  font-size: 1.5rem;
  color: #6070ff;
}
